<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://logansfinanceplanner.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>4e0a8721-f25c-4de1-b45d-3b6f318cae25</ProjectGuid>
    <PublishUrl>https://logansfinanceplanner.scm.azurewebsites.net/</PublishUrl>
    <UserName>$LogansFinancePlanner</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>