.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: inherit;
}

.content-area {
    width: 100%;
    background-color: white;
    margin: 20px;
    height: calc(100vh - 120px);
    /* border-radius: 10px; */
    box-shadow: 0px 0px 2px 4px #dcdcdc9c;
    flex-grow: 0;
    flex-shrink: 1;
    overflow-y: hidden;
}

.purchase-creation-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.positive-button {
    background-color: #4d88ff;
    margin-right: 5px;
}
.negative-button {
    background-color: red;
}

.account-creation-footer {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-between;
}

.account-creation-container {
    width: 700px;
    background-color: white;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.account-creation-title-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding-left: 10px;
}
.account-creation-nav-box {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#title {
    font-size: 35px;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.account-creation-nav-item {
    margin-left: 10px;
    color: black;
    border-bottom: 2px solid;
    cursor: pointer;
}
.account-creation-content {
    height: 440px;
    margin: 10px;
    margin-top: 0px;
}

.input-container {
    margin-top: 5px;
}
.debit-details-display {
    display: flex;
    width: 350px;
    outline-style: groove;
    outline-color: black;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 15px;
    margin-left: 20px;
    align-items: center;
}

#debit-name-title {
    color: black;
    font-weight: 700;
}

#debit-due-title {
    color: grey;
    font-weight: 400;
}

.debit-column-left {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5px;
}

#debit-action-button{

}

#debit-amount{

}

.debit-column-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.debit-detail-column {
    display: flex;
    width: 90%;
    height: 50px;
    flex-direction: row;
    border-bottom: 1px solid;
}
.debit-detail-input {
}
.debit-creation-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.input-box {
    border-radius: 5px;
    border-color: black;
    height: 30px;
    width: 250px;
    font-size: 15px;
}

.account-creation-header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.debit-creation-footer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
#available-text {
    display: none;
}

.desktop-hide {
    display: none !important;
}

@media only screen and (max-width: 430px) {
    #budget-title {
        font-weight: 600;
        font-family: sans-serif;
        font-size: large;
        margin-right: auto;
        margin-left: 5px;
    }
    .list-content-item {
        width: 50% !important;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: medium;
        cursor: pointer;
        flex-direction: column;
        overflow: hidden;
    }
    #more-detail {
        color: #9a9898;
        font-size: 15px;
        margin-right: auto;
        margin-left: 5px;
        display: flex;
        align-items: center;
    }
    #available-amount {
        width: 80px !important;
    }
    .mobile-hide {
        display: none !important;
    }
    .desktop-hide {
        display: contents !important;
    }
    #avaliable-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #avaliable{
        font-size: medium;
    }
    #available-text {
        font-size: small;
        text-align: center;
        display: table-cell;
    }
    .list-content {
        /* margin-top: 30px; */
        margin-top: 0px !important;
        max-height: 80%;
        width: 100% !important;
        overflow-y: scroll;

    }
    .content-area {
        background-color: #ffffff00 !important;
        width: 100%;
        margin: 0px !important;
        height: calc(100vh - 120px);
        /* border-radius: 10px; */
        box-shadow: 0px 0px 0px 0px !important; 
        flex-grow: 0;
        flex-shrink: 1;
        overflow-y: hidden;
    }
    .list-content-column {
        border-top: 0px solid black;
        height: 80px !important;
        background-color: white;
        display: flex;
        margin-top: 3px;
        border-radius: 5px;
    }
    .list-content-column-expand {
        border-top: 0px solid black;
        height: 120px !important;
        background-color: white;
        display: flex;
        margin-top: 3px;
        border-radius: 5px;
    }
    .list {
        /* width: 100%; */
        margin-left: 5px !important;
        margin-right: 5px !important;
        height: 100%;
    }

    .list-header {
        display: none !important;
        margin-top: 20px;
        background-color: #0092FC;
        height: 50px;
        border-top: 2px solid black;
        display: flex;
        flex-direction: row;
        visibility: hidden;
    }

}