.budget-display {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
    /* border-radius: 10px; */
    /* box-shadow: 0px 0px 2px 4px #dcdcdc9c; */
    flex-grow: 0;
    flex-shrink: 1;
}

.budget-header {
    display: flex;
/*    border: 2px dashed red;
*/    margin-top: 10px;
    max-width: 100%;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.budget-header-left {
}
.budget-header-right {
}

.budget-header-item {
    margin-right: 10px;
    border: 2px solid black;
    padding: 0.6em 1.2em;
    border-radius: 5px;
    color: black;
    background-color: #0092FC;
    text-decoration: none;
}

.budget-title-header {
    display: flex;
    margin: 10px;
}

.budget-nav-title {
    border-bottom: 1.5px solid grey;
    margin-right: 5px;
    font-size: 18px;
    font-weight: 300;
    color: grey;
    cursor: pointer;
}

.budget-nav-title-selected {
    border-bottom: 1.5px solid grey;
    margin-right: 5px;
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.budget-box {
    display: flex;
    margin-top: 10px;
    height: calc(100% - 62px);
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 2px 4px #dcdcdc9c;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    flex-grow: 0;
    flex-shrink: 1;
    overflow-y: scroll;
}


.budget-content {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
}

#delete-icon {
    color: red;
    cursor: pointer;
}

.budget-content-item:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
}

.budget-content-item {
    width: 47%;
    height: 60px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.budget-content-item:hover {
        background-color: #ededed;
        cursor: pointer;
}

.debit-content-item:hover {
    background-color: #ededed;
    cursor: pointer;
}
.budget-item-right {
}
.budget-item-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.budget-item-box {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.budget-item-title {
    color: black;
    font-weight: 700;
    font-size: large;
}
.budget-item-date {
    font-size: small;
    color: grey;
}
.budget-item-price {
    color: black;
    font-size: x-large;
}
.budget-item-right {
    display: flex;
    align-items: center;
}

.debit-content-item {
    width: 60%;
    height: 60px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.debit-item-right {
}

.debit-item-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
}

.debit-item-left-box {
    display: flex;
    justify-content: space-between;
}

#debit-item-frequency{
    color: red;
}

.debit-item-box {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.debit-item-title {
    color: black;
    font-weight: 700;
    font-size: large;
}

.debit-item-date {
    font-size: small;
    color: grey;
}

.debit-item-price {
    color: black;
    font-size: x-large;
}

.debit-item-right {
    display: flex;
    align-items: center;
}


@media only screen and (max-width: 430px) {
    .budget-title-header {
        display: flex;
        margin: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 5px;
        background-color: white;
        border-radius: 5px;
        padding: 5px;
    }

    .budget-box {
        display: flex;
        box-shadow: 0px 0px 0px 0px #dcdcdc9c;
        margin-top: 10px;
        height: calc(100% - 62px);
        margin-bottom: 10px;
        border-radius: 5px;
        background-color: #ffffff00;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: flex-start;
        flex-grow: 0;
        flex-shrink: 1;
        overflow-y: scroll;
    }

    .budget-content {
        display: flex;
        height: 100%;
        margin-bottom: 10px;
        border-radius: 5px;
        background-color: #ffffff00;
        box-shadow: 0px 0px 0px 0px #dcdcdc9c;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
        justify-content: center;
        flex-grow: 0;
        flex-shrink: 1;
        overflow-y: scroll;
    }

    .budget-content-item {
        color: black;
        width: 100%;
        height: 80px;
        border: 1px solid grey;
        border-radius: 5px;
        margin: 5px;
        padding: 5px;
        background-color: white;
    }

    .debit-item-left-box {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .debit-content-item {
        width: 100%;
        min-height: 95px;
        max-height: 95px;
        border: 1px solid grey;
        border-radius: 5px;
        margin: 5px;
        padding: 5px;
        background-color: white;
    }

    .budget-header-item {
        margin-right: 5px;
        margin-left: 5px;
        border: 0px solid black;
        padding: 10px;
        border-radius: 5px;
        color: black;
        background-color: #0092FC;
        text-decoration: none;
    }
}
