.page-not-found {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 70px;
}

.not-found-container {
    border-radius: 20px;
    background-color: white;
    width: 600px;
    height : auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 2px 4px #dcdcdc9c;
}

.centre-loading {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

p {
    margin: 10px;
    font-weight: 500;
    text-align: center;
}

.not-found-container-header {
    font-size: xx-large;
    font-weight: 700;
    color: red;
    font-family: monospace;
    text-align: center;
}

.button-return {
    background-color: #384eff;
    border-radius: 5px;
    padding: 10px;
    color: white;
    cursor: pointer;
}